<div class="padding" ng-controller="AddMemberController">
  <super-navbar>
   
    <super-navbar-title>
      Add Members 
    </super-navbar-title>
  
  </super-navbar>


  <ul class="list" ng-repeat="g in groupArray">
  
      <li class="item">{{g.givenname}}<br>
        {{g.phone}}
      </li>
    
  
  </ul> 

  
      <center>
<button ng-click="open()" class="myButton" style=" width : 50% ;border-radius: 10px"
        >Add Members </button>
      </center>
<br>
<br>
<br>
<button ng-click="submitmembers()" class="button button-full button-balanced" style="border-radius: 10px"
        >Done!</button>

