<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list" ng-controller='DrawerController'>
	<li class="item" ng-click="changeList(1)">Grocery List</li>
	<li class="item" ng-click="changeList(2)">Christmas Gifts</li>
	<li class="item" ng-click="changeList(3)">Office</li>
</ul>

 <!-- <div class="list" ng-repeat="g in groups">
    <a class = "item" ng-click = "openSettings(g.id)">
      <h2 >{{g.group_name}}</h2>
    </a>
  </div>
 -->