
<div class="padding" ng-controller="GettingStartedController">

  <super-navbar>
    <super-navbar-title>
      My Groceries
    </super-navbar-title>
    <super-navbar-button ng-click="openSidebar()">
      Set List
    </super-navbar-button>
  </super-navbar>
 <div class="item item-divider">My Groceries</div>
 <div class="list" ng-repeat="item in resultImages">
    <a  id= "item.id" class="item item-thumbnail-left item-button-right" href="#" ng-swipe-left="swipeLeft(item.id)" ng-swipe-right="swipeRight(item.id)">
      <img ng-src = "{{item.photo}}">

      <h2 >{{item.name}}</h2>
      <p >Quantity: {{item.quantity}} {{item.unit}}</p>
      <p >Description: {{item.info}}</p>
      <button class="button button-assertive super-close-round" style="border-radius:10px; " ng-click="close(item.id)"> </button>
    </a>
  </div>
  <div class="item item-divider">Previous Groceries</div>
  <div class="list" ng-repeat="item1 in resultImages1">
    <a  id= "item.id" class="item item-thumbnail-left item-button-right" href="#" ng-swipe-left="swipeLeft(item1.id)" ng-swipe-right="swipeRight(item1.id)">
      <img ng-src = "{{item1.photo}}">

      <h2 >{{item1.name}}</h2>
      <p >Quantity: {{item1.quantity}} {{item1.unit}}</p>
      <p >Description: {{item1.info}}</p>
      <button class="button button-balanced super-plus-round" style="border-radius:10px; "  ng-click="open(item1.id)"> </button>
    </a>
  </div>

</div>
