
<div class="padding" ng-controller="GettingStartedController">

  <super-navbar>
    <super-navbar-title ng-bind="navTitle">
      {{navTitle}}      
    </super-navbar-title>
    <super-navbar-button side="right" ng-click="groupPage()">Settings</super-navbar-button>
   
  </super-navbar>
 <div class="item item-divider">Need to Buy</div> 

    <!--Citation: The DIV below is code adapted from: https://blog.nraboy.com/2015/03/make-a-gallery-like-image-grid-using-ionic-framework/-->

     <div class="row" ng-repeat="image in resultImages" ng-if="$index % 2 === 0">
         <div class="col col-50" ng-if="$index < resultImages.length">
             <img ng-src="{{resultImages[$index].photo}}" width="100%" />
             <div>
                <p style="float: left;"> {{resultImages[$index].name}} </p>
                <button class = "button button-small icon-left super-checkmark-round button-clear" style="float: right;">  </button>
             </div>
         </div>
         <div class="col col-50" ng-if="$index + 1 < resultImages.length">
             <img ng-src="{{resultImages[$index + 1].photo}}" width="100%" />
             <p style="float: left;"> {{resultImages[$index + 1].name}} </p>
             <button class = "button button-small icon-left super-checkmark-round button-clear" style="float: right;">  </button>
         </div>
     </div>

    <!-- <a  id= "item.id" class="item item-thumbnail-left" href="#" ng-swipe-left="swipeLeft(item.id)" ng-swipe-right="swipeRight(item.id)">

      <img ng-src = "{{item.photo}}" ng-click="showInfo(item)">
      <h2>{{item.name}}</h2>
      <p><b> {{makeStatusString(item.status, item.time)}} </b></p>
      <p><b>{{item.time | date:'short'}}</b> </p>
      <div>
      <button class="button button-assertive" style="border-radius:10px; " ng-click="commit(item.id)"> Gonna Get! </button>
      <button class="button button-balanced" style="border-radius:10px; " ng-click="close(item.id)"> Got it! </button>
      </div>
    </a> -->

  <div class="item item-divider">Recently Bought</div>
  <div class="list" ng-repeat="item1 in resultImages1">
    <a  id= "item.id" class="item item-thumbnail-left item-button-right" href="#" ng-swipe-left="swipeLeft(item1.id)" ng-swipe-right="swipeRight(item1.id)">
      <img ng-src = "{{item1.photo}}">
    
    <!--   <h2 >{{item1.name}}</h2>
      <p >Quantity: {{item1.quantity}} {{item1.unit}}</p>
      <p >Description: {{item1.info}}</p> -->
      <p><b> {{makeStatusString(item1.status, item1.time)}}</b></p>
      <!--  <p><b>{{item1.time | date:'short'}}</b> </p> -->
      <button class="button button-balanced" style="border-radius:10px;" ng-click="open(item1.id)">

        <font size="2">Buy Again  <font></button>
    

    </a>
  </div>

</div>
