<div class="padding" ng-controller="InitialViewController">

    <super-navbar>
        <super-navbar-title>
            Upload Item
        </super-navbar-title>
    </super-navbar>

    <button ng-click="abc()">sdf</button>

        <div style="text-align: center;">
            <button align="center" class="button button-full button-balanced" style="border-radius: 10px" ng-click="submitImageTwo(groceryItem)" style="width:100%" ng-disabled="submittingImage">Submit</button>
        </div>


        <label class="item item-input">
            <input id ="item_name" ng-model="groceryItem.name" name="item_name" type="text" placeholder="Item Name" />
        </label>
        <label class="item item-input">
            <input id ="item_quantity" ng-model="groceryItem.quantity" name="item_quantity" type="text" placeholder="Quantity" />
        </label>

        <label class="item item-input">
            <textarea id = "item_info" ng-model="groceryItem.info" placeholder="Additional Info"></textarea>
        </label>
</div>
