<div class="padding" ng-controller="UpdateController">

    <super-navbar>
        <super-navbar-title>
            Upload Item
        </super-navbar-title>
    </super-navbar>
    <div class="item item-body">
    <div id="new-camera" align="left">
        <button id="uploadimage"  ng-click="takePicture()">Use camera</button>
        <button id="uploadimage1" ng-click="takePicture1()">Use Photo library</button>
    </div>
    <br>

    <img id="showImage" class="full-image">
        </div>
    <br>

    <form name="myform">
        <label class="item item-input">
            <input ng-model="groceryItem.name" name="item_name" type="text" placeholder="Item Name" />
        </label>
        <label class="item item-input item-select">
            <div class="input-label" >
             Quantity
            </div>
            <select ng-model="groceryItem.quantity" >
                <option  value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label" >
              Unit
            </div>
            <select ng-model="groceryItem.unit" >
                <option value="0">items</option>
                <option value="1">packs</option>
                <option value="2">lbs</option>
                <option value="3">oz</option>
                <option value="4">btl</option>
                <option value="5">kg</option>
                <option value="6">btl</option>
            </select>
        </label>
        <label class="item item-input">
            <textarea ng-model="groceryItem.info" placeholder="Additional Info"></textarea>
        </label>
        <br>
        <button ng-click="submitItem()">Submit new item</button>
    </form>
    <div>
        <p>
        </p>
    </div>

</div>
