<div class="padding" ng-controller="UpdateController">

    <super-navbar>
        <super-navbar-button ng-click="openSidebar()">
            Settings
        </super-navbar-button>
        <super-navbar-title>
            Upload Item
        </super-navbar-title>
    </super-navbar>
    <div class="item item-body">

        <img  src="/placeholder.png" id="showImage" class="full-image">
        <div id="new-camera" align="center">
            <button class="button icon-center super-camera button-calm" id="uploadimage"  ng-click="takePicture()" style="width:49%;"></button>
            <button class="button icon-center super-folder button-calm" id="uploadimage1" ng-click="takePicture1()" style="width:49%;"></button>
        </div>
    </div>
    <br>

    <form name="myform">
        <label class="item item-input">
            <input id = "item_name" ng-model="groceryItem.name" name="item_name" type="text" placeholder="Item Name" />
        </label>
        <label class="item item-input item-select">
            <div class="input-label" >
             Quantity
            </div>
            <select id = "item_quantity" ng-model="groceryItem.quantity" >
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label" >
              Unit
            </div>
            <select id = "item_unit" ng-model="groceryItem.unit" >
                <option value="unit(s)">unit(s)</option>
                <option value="piece(s) ">piece(s)</option>
                <option value="pack(s)">pack(s)</option>
                <option value="bag(s)">bag(s)</option>
                <option value="box(es)">box(es)</option>
                <option value="carton(s)">carton(s)</option>
                <option value="sack(s)">sack(s)</option>
                <option value="bottle(s)">bottle(s)</option>
                <option value="liter(s)">liter(s)</option>
                <option value="pint(s)">pint(s)</option>
                <option value="quart(s)">quart(s)</option>
                <option value="gallon(s)">gallon(s)</option>

            </select>
        </label>
        <label class="item item-input">
            <textarea id = "item_info" ng-model="groceryItem.info" placeholder="Additional Info"></textarea>
        </label>
        <br>
        <div style="text-align: center ;">
            <button align="center"class="button button-dark" ng-click="submitImage(groceryItem)" style="width:100%">Submit</button>
        </div>
    </form>
    <div>
        <p>
        </p>
    </div>

</div>
