<div class="padding" ng-controller="UpdateController">

    <super-navbar>
        <super-navbar-title>
            Upload Item
        </super-navbar-title>
    </super-navbar>

    <div id="new-camera" align="left">
        <button id="uploadimage"  ng-click="takePicture()">Use camera</button>

        <button id="uploadimage1" ng-click="takePicture1()">Use Photo library</button>
    </div>
    <br>

    <img id="showImage" class="full-image">
    <br>
    <div>
        <p>
        </p>
    </div>

</div>
